include README.md
include LICENSE
include pyproject.toml
include manifest.yaml
include hooks/memorius-hook.sh
recursive-include examples *.py
recursive-include tests *.py
recursive-exclude * __pycache__
recursive-exclude * *.pyc
